<!DOCTYPE html>
<html lang="en">
  <%- include('header.ejs') -%>

  <body>
    <!-- Header Section Start -->
    <%- include('header_section.ejs') -%>
    <!-- Header Section End -->

    <!-- Breadcrumb Area Start -->
    <div class="section breadcrumb-area bg-name-bright">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="breadcrumb-wrapper">
              <h2 class="breadcrumb-title">Checkout</h2>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li>Checkout</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- Checkout Section Start -->
    <form method="post" action="" class="section section-margin">
      <div class="container">
        <div class="row m-b-n20">
          <div class="col-lg-6 col-12 m-b-20">
            <!-- Checkbox Form Start -->
            <div action="#">
              <div class="checkbox-form">
                <!-- Checkbox Form Title Start -->
                <h3 class="title">Chi tiết đơn hàng</h3>
                <!-- Checkbox Form Title End -->

                <div class="row">
                    <div class="mb-3 text-start">
                        <label class="form-label text-start">Họ tên</label>
                        <input type="text" class="form-control" placeholder="Vui lòng nhập họ tên"  name="customer_name" min="1" max="20" required>
                    </div>
                  <div class="mb-3 text-start">
                    <label class="form-label text-start">Địa chỉ: </label>
                    <input type="text" class="form-control" placeholder="Vui lòng nhập địa chỉ"  name="customer_address" min="1" max="20" required>
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label text-start">Số điện thoại khách hàng</label>
                    <input type="tel" class="form-control" placeholder="Vui lòng nhập SĐT"  name="customer_phone" min="1" max="20" required>
                </div>
                </div>
            
              </div>
            </div>
          </div>
          <!-- Checkbox Form End -->
          <div class="col-lg-6 col-12 m-b-20">
            <!-- Your Order Area Start -->
            <div class="your-order-area border">
              <!-- Title Start -->
              <h3 class="title">Đơn hàng của bạn</h3>
              <!-- Title End -->

              <!-- Your Order Table Start -->
              <div class="your-order-table table-responsive">
                <table class="table">
                  <!-- Table Head Start -->
                  <thead>
                    <tr class="cart-product-head">
                      <th class="cart-product-name text-start">Sản phẩm</th>
                      <th class="cart-product-total text-end">Tổng tiền</th>
                    </tr>
                  </thead>
                  <!-- Table Head End -->

                  <!-- Table Body Start -->
                  <tbody>
                    <% let total = 0; 
                      carts.forEach((item)=>{ 
                        total += (item.food.price * item.quantity);
                        %>
                    <tr class="cart_item">
                      <td class="cart-product-name text-start ps-0">
                        <%= item.food.name %><strong class="product-quantity">
                          × <%= item.quantity %></strong
                        >
                      </td>
                      <td class="cart-product-total text-end pe-0">
                        <span class="amount"><%= formatPrice(item.food.price * item.quantity) %></span>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                  <!-- Table Body End -->

                  <!-- Table Footer Start -->
                  <tfoot>
                    <tr class="cart-subtotal">
                      <th class="text-start ps-0">Tạm tính</th>
                      <td class="text-end pe-0">
                        <span class="amount"><%= formatPrice(total) %></span>
                      </td>
                    </tr>
                    <tr class="order-total">
                      <th class="text-start ps-0 w-100">
                        Đơn hàng sẽ còn dược áp dụng các chương trình giảm giá
                      </th>
                    </tr>
                  </tfoot>
                  <!-- Table Footer End -->
                </table>
                
              </div>
             
            </div>
            <!-- Your Order Area End -->
          </div>
          <div class="col-6 d-flex justify-content-center">
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Thanh toán</button>
          </div>
        </div>
      </div>
    </form>
    <!-- Checkout Section End -->

    <!-- Footer Section Start -->
    <%- include('footer.ejs') -%>
    <!-- Footer Section End -->

    
    <!-- 
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>   
    -->

    <!-- Plugins JS -->

    <!-- 
    <script src="assets/js/plugins/aos.min.js"></script>
    <script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/nice-select.min.js"></script>
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/countdown.min.js"></script>
    <script src="assets/js/plugins/lightgallery-all.min.js"></script>  
    -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->

    <script src="js/vendor.min.js"></script>
    <script src="js/plugins.min.js"></script>

    <!--Main JS-->
    <script src="js/main.js"></script>
  </body>
</html>
