<div class="modal" tabindex="-1" style="display: block; background: #00000060;">
  <div
    class="modal-dialog modal-dialog-centered"
    style="max-width: 90%; min-width: 75%"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= headerAction %></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-body mt-4">
          <div class="row">
            <div class="col-lg-8">
              <div class="border border-3 p-4 rounded">
                <div class="mb-3">
                  <label for="inputProductTitle" class="form-label"
                    >Tên món ăn</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputProductTitle"
                    placeholder="Enter product title"
                    name="name"
                    <%
                    if(typeof(foodDetail)
                    !="undefined"
                    ){%>
                  value="<%= foodDetail.food.name%>" <% } %> />
                </div>
                <div class="mb-3">
                  <label for="inputProductDescription" class="form-label"
                    >Hình ảnh</label
                  >
                  <input
                    id="image-uploadify"
                    type="file"
                    accept="image/*"
                    multiple=""
                    style="display: none"
                  />
                  <div class="imageuploadify well">
                    <div class="imageuploadify-overlay">
                      <i class="fa fa-picture-o"></i>
                    </div>
                    <div class="imageuploadify-images-list text-center">
                      <i class="bx bxs-cloud-upload mt-0 pb-0"></i>
                      <button type="button" class="btn btn-default">
                        or select file to upload
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="border border-3 p-4 rounded">
                <div class="row g-3">
                  <div class="col-md-6">
                    <label for="inputPrice" class="form-label">Giá</label>
                    <input
                      type="number"
                      step="1000"
                      min="10000"
                      class="form-control"
                      id="inputPrice"
                      placeholder="Giá"
                      name="price"
                      <%
                      if(typeof(foodDetail)
                      !="undefined"
                      ){%>
                    value="<%= foodDetail.food.price%>" <% } %> />
                  </div>
                  <div class="col-12">
                    <label for="inputProductType" class="form-label"
                      >Thành phần chính</label
                    >
                    <select id="ingredient" class="form-select" onchange="createNewIngredient(ingredient)">
                      <option value="">--Thành phần chính--</option>
					  <% mainIngredients.forEach((item)=>{%>
                      <option value="<%= item._id %>"><%= item.name %></option>
						<% }) %>
                    </select>
                  </div>
                  <div class="col-12 row" id="mainIngredientForm">
					<div class="col-12 d-flex">
                    <strong>Thành phần chính</strong>|
                    <strong>Định lượng</strong>|
                    <strong>Đơn vị</strong>
                  </div>
					<%
                  if(typeof(foodDetail) != "undefined"){
                  foodDetail.mainingredients.forEach((item)=>{%>
                  <div class="col-12 d-flex">
                    <input
                      type="text"
                      hidden
                      value="><%= item.mainingredient._id %>"
                      name="mainIngredient[]"
                    />
                    <strong><%= item.mainingredient.name %></strong>
                    <input
                      type="number"
                      min="1"
                      max="1000"
                      value="<%= item.quantity %>"
                      name="quantity[]"
                    />
                    <input
                      type="text"
                      value="<%= item.unit %>"
                      name="unit[]"
                    />
                    <button
                      type="button"
                      class="btn-close"
                      onclick="this.parentNode.remove()"
                    ></button>
                  </div>
                  <%}) } %>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button type="button" class="btn btn-primary">Lưu</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="icon" href="/assets/images/favicon-32x32.png" type="image/png" />
<!--plugins-->
<link
  href="/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.css"
  rel="stylesheet"
/>
<link href="/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
<link
  href="/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css"
  rel="stylesheet"
/>
<link href="/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />

<script>
  function createNewIngredient(ingredient){
  	let tmpId = ingredient.value;
  	if(tmpId != ''){
  		let element = '<div class="col-12 d-flex">'+
  		'<input type="text" hidden value="'+tmpId+'" name="mainIngredient[]">'+
  		'<strong>'+ingredient.options[ingredient.selectedIndex].text+'</strong>'+
  		'<input type="number" min="1" max="1000" value="" name="quantity[]">'+
  		'<input type="text"  placeholder=""  value="" name="unit[]">'+
  		'<button type="button" class="btn-close" onclick="this.parentNode.remove()"></button>'+
  		'</div>';
  		document.getElementById("mainIngredientForm").innerHTML += element;
  	}
  }
</script>
